<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
  version="3.1"
  metadata-complete="true">
    <display-name>Welcome to contact</display-name>

    <servlet>
		<servlet-name>contact</servlet-name>
		<servlet-class>com.baldurtech.ContactServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>contact</servlet-name>
		<url-pattern>/contact</url-pattern>
	</servlet-mapping>
	
	<servlet>
	<servlet-name>contactCreate</servlet-name>
	<servlet-class>com.baldurtech.ContactCreateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>contactCreate</servlet-name>
	<url-pattern>/contact/create</url-pattern>
	</servlet-mapping>

</web-app>
